@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 200vh;
  background-color: #282C33;
  font-family: "Fira Code";
  color: #FFFFFF;
}

button,
a,
select {
  all: unset;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 32px 0px 8px;
  gap: 490px;
  width: 100%;
  height: 61px;
  position: fixed;
  background: #282C33;
  z-index: 5;
}
header div.group-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 72px;
  height: 21px;
}
header div.group-logo span.name-logo {
  width: 48px;
  height: 21px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
header div.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 444px;
  height: 21px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
header div.nav a {
  height: 21px;
  font-family: "Fira Code";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ABB2BF;
  cursor: pointer;
  transition: 0.5ms;
}
header div.nav a::before {
  content: "#";
  color: #C778DD;
}
header div.nav a:hover {
  color: #FFFFFF;
}
header div.nav select {
  height: 21px;
  font-family: "Fira Code";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ABB2BF;
  cursor: pointer;
}
header div.nav select:hover {
  color: #FFFFFF;
}
header div.nav select option {
  padding: 5px;
  background-color: #282C33;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
header div.nav select option:hover {
  background-color: hsla(287deg, 60%, 65%, 0.1);
}
header div.nav .active {
  color: #FFFFFF;
  font-weight: 600;
}

.img-logo {
  height: 16px;
  width: 16px;
  fill: rgb(255, 255, 255);
}
.img-logo g {
  fill: rgb(255, 255, 255);
}
.img-logo g path {
  fill: rgb(255, 255, 255);
}

div.anchor-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 1px;
  width: 65px;
  position: fixed;
  z-index: 6;
}
div.anchor-links .line {
  width: 1px;
  height: 35vh;
  background: #ABB2BF;
  display: block;
}
div.anchor-links a svg path {
  cursor: pointer;
  transition: 0.5ms;
}
div.anchor-links a svg path:hover {
  fill: rgb(255, 255, 255);
}

section.apresentation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
section.apresentation div.presentation {
  margin-top: 250px;
  height: 227px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 32px;
}
section.apresentation div.presentation div.presentation-text {
  flex: 1 1 0;
}
section.apresentation div.presentation div.presentation-text h1.presentation-name {
  min-width: 300px;
  font-size: 32px;
  font-weight: 600;
}
section.apresentation div.presentation div.presentation-text h1.presentation-name span.mark {
  color: #C778DD;
}
section.apresentation div.presentation div.presentation-text p.presentation-description {
  width: 463px;
  height: 50px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ABB2BF;
  margin-top: 32px;
  margin-bottom: 32px;
}
section.apresentation div.presentation div.presentation-text a.btn-ctme {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #C778DD;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5ms;
}
section.apresentation div.presentation div.presentation-text a.btn-ctme:hover {
  background-color: hsla(287deg, 60%, 65%, 0.1);
}
section.apresentation div.presentation-img {
  position: relative;
  display: flex;
  flex-direction: column;
}
section.apresentation div.presentation-img img.outilineImg {
  position: absolute;
  width: 30vmin;
  top: 10%;
  z-index: 1;
  left: 0;
}
section.apresentation div.presentation-img img.hero-img {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #C778DD;
}
section.apresentation div.presentation-img div.hero-status {
  padding: 8px;
  border: 1px solid #ABB2BF;
  color: #ABB2BF;
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1px;
  z-index: 4;
  gap: 8px;
  font-weight: 500;
}
section.apresentation div.presentation-img div.hero-status::before {
  content: "";
  display: inline-block;
  aspect-ratio: 1;
  width: 16px;
  background-color: hsla(287deg, 60%, 65%, 0.1);
  border: 1px solid #C778DD;
}
section.apresentation div.presentation-img div.hero-status a {
  color: #FFFFFF;
  text-decoration: underline;
  cursor: pointer;
}
section.apresentation div.presentation-img div.hero-status a:hover {
  color: #C778DD;
}
section.apresentation div.presentation-img .dots {
  position: absolute;
  top: 40%;
  width: 12vmin;
  left: 70%;
  z-index: 4;
}
section.apresentation div.presentation-img .dots circle {
  fill: #FFFFFF;
}

section.citation {
  width: 100%;
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
section.citation figure.quote {
  width: 900px;
  border: 1px solid #ABB2BF;
  position: relative;
  margin: 0;
}
section.citation figure.quote blockquote.quote__text {
  padding: 32px;
  font-size: 24px;
  font-weight: 500;
  background-color: #282C33;
}
section.citation figure.quote figcaption.quote__author {
  position: absolute;
  color: #ABB2BF;
  border: 1px solid #ABB2BF;
  padding: 8px;
  right: -1px;
  font-size: 16px;
}

.quote::before {
  top: -32px;
  left: 16px;
}

.quote::after {
  bottom: -55px;
  right: 16px;
}

.quote::before, .quote::after {
  content: '"';
  position: absolute;
  color: #ABB2BF;
  font-size: 64px;
  font-weight: 700;
  background-image: linear-gradient(#282C33, #282C33);
  background-size: 100% 40%;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
