header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

    @media (max-width: 556px) {
        padding: 30px 50px;
    }

    a.logo {
        color: $white;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            margin-left: 20px;

            a {
                text-decoration: none;
                padding: 6px 15px;
                color: $white;
                border-radius: 20px;

                &:hover {
                    background: $white;
                    color: $color-1;
                }
            }

            .active {
                background: $white;
                color: $color-1;
            }
        }
    }
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, $bg-rx, transparent);
        z-index: 1000;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    #moon {
        mix-blend-mode: screen;
    }

    #text {
        position: absolute;
        right: -350px;
        color: $white;
        white-space: nowrap;
        font-size: 7.5vw;
        z-index: 9;
    }

    #mountains_front {
        z-index: 10;
    }

    #btn {
        text-decoration: none;
        display: inline-block;
        padding: 8px 30px;
        border-radius: 40px;
        background: $white;
        color: $color-1;
        font-size: 1.5em;
        z-index: 9;
        transform: translateY(100px);
    }
}

/* Hide the default checkbox */


.container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    button {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: relative;
        top: 0;
        left: 0;
        height: 1.3em;
        width: 1.3em;

        span {
            width: 32px;
            height: 2px;
            background-color: white;
            position: absolute;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
        }

        span:nth-child(1) {
            top: 10%;
        }
        
        span:nth-child(2) {
            top: 50%;
        }
        
        span:nth-child(3) {
            top: 90%;
        }
    }
}


div.menu-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $rx-trs;
    z-index: 15000;
    display: none;
    flex-direction: column;
    align-items: end;
    padding: 40px;


    button {
        border: 1px solid $white;
        width: min-content;
        padding: 10px;
        border-radius: 6px;
        color: $white;
        font-size: 25px;
        cursor: pointer;
    }

    div.listModal {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            margin-bottom: 150px;
            li {
                list-style: none;
                text-align: center;
                animation: show 1.2s forwards;
                
                @keyframes show {
                    0% {
                        transform: translateY(100vh);
                    }
                    100% {
                        transform: translateY(0px);
                    }
                }

                a {
                    padding: 10px;
                    font-size: 3.5em;
                    font-weight: 700;
                    color: $white;
                    text-decoration: none;
                    border-radius: 10px;

                    &:hover {
                        background-color: $white;
                        color: $bg-rx;
                    }
                }
            }
        }
        
    }
}

.sec {
    position: relative;
    padding: 100px;
    background: $bg-rx;

    @media (max-width: 652px) {
        padding: 100px 30px;
    }

    h2 {
        font-size: 3em;
        margin-bottom: 10px;
        color: $white;
    }

    p {
        width: 800px;
        font-size: 1em;
        color: $white;
        margin-bottom: 20px;

        @media (max-width: 1024px) {
            width: 100%;
            text-align: justify;
        }
    }

    a {
        text-decoration: none;
        padding: 6px 40px;
        color: $white;
        border-radius: 20px;
        border: 1px solid $white;
        
        &:hover {
            background-color: $white;
            color: $color-1;
        }
    }
}